
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.top-cont {
	min-height: 600px;
}

.container-fluid{
	padding: 0px!important;
}


#home > p {
  color: rgb(255,255,255);
  z-index: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.5rem;
}

#home {
  min-height: 60vh;
  background: url('../img/parking.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}

#about {
  padding: 50px;
}

.about_icon{
  padding: 20px;
}

#madeby {
    text-align: center;
    color: white;
    width: 100%;
    background: #1049a5;
    font-size: 0.8em;
    margin: 0!important;
}